<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>The Student Information Website is a comprehensive platform designed to manage and display information about students within an educational institution.
	    This web application provides an intuitive interface for users to access and explore data related to students.</p>
        
             
        <ul>
            <li> <a href="{{ url_for('about')}}" > About Page</a> </li>
            <li> <a href="{{ url_for('data')}}" > Data Page</a> </li>
        </ul>
    </body>
</html>
