<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>Welcome to our project!</h1>
        <ul>
            <h1>Group Number 3<h1>
                <li><h1>Aksh Rajeshkumar Chauhan<h1></li>
                <li><h1>Hardik Hiren Harsora<h1></li>   
        </ul>
        
        <ul>
            <li> <a href="{{ url_for('about')}}" > About Page</a> </li>
            <li> <a href="{{ url_for('data')}}" > Data Page</a> </li>
        </ul>
    </body>
</html>
